.home__container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #ad5389, #3c1053);
	background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__box{
    position: absolute;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, rgba(255,255,255,0.25) 0%, rgba(49, 49, 49, 0.2) 100%);
    backdrop-filter: blur( 5px );
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.233);
    box-shadow: 0 8px 32px 0 rgba(87, 87, 87, 0.37);
}
.home__title{
    color: $Light_Color;
}
.home__form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.home__input-container{
    display: flex;
    flex-direction: column;
}
.home__input{
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    color: $Dark_Color;
    transition: border 0.3s ease;
    &:focus{
        border: 2px solid #051367;
        outline: none;
    }
}
.home__button{
    border: none;
    background-color: $Light_Color;
    border-radius: 10px;
    color: #051367;
    cursor: pointer;
    &:hover{
        background-color: $Dark_Color;
        color: $Light_Color;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home__box{
        width: 85%;
        height: 35%;
    }
    .home__title{
        font-size: 35px;
    }
    .home__form{
        padding: 0 1.5rem;
    }
    .home__input{
        font-size: 20px;
        margin: 1rem 0;
        padding: 0.3rem 0.5rem;
    }
    .home__button{
        font-size: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .home__box{
        width: 70%;
        height: 35%;
    }
    .home__title{
        font-size: 45px;
    }
    .home__form{
        padding: 0 2rem;
    }
    .home__input{
        font-size: 25px;
        margin: 1rem 0;
        padding: 0.3rem 0.5rem;
    }
    .home__button{
        font-size: 25px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .home__box{
        width: 70%;
        height: 35%;
    }
    .home__title{
        font-size: 45px;
    }
    .home__form{
        padding: 0 2rem;
    }
    .home__input{
        font-size: 25px;
        margin: 1rem 0;
        padding: 0.3rem 0.5rem;
    }
    .home__button{
        font-size: 25px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .home__box{
        width: 50%;
        height: 35%;
    }
    .home__title{
        font-size: 45px;
    }
    .home__form{
        padding: 0 2rem;
    }
    .home__input{
        font-size: 25px;
        margin: 1rem 0;
        padding: 0.3rem 0.5rem;
    }
    .home__button{
        font-size: 25px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .home__box{
        width: 50%;
        height: 40%;
    }
    .home__title{
        font-size: 50px;
    }
    .home__form{
        padding: 0 2rem;
    }
    .home__input{
        font-size: 25px;
        margin: 1rem 0;
        padding: 0.3rem 0.5rem;
    }
    .home__button{
        font-size: 25px;
    }
}